<!DOCTYPE html>
<html>
<head>
	<link rel='stylesheet' href="/stylesheets/car.css"> 
	<link rel="stylesheet" href="/stylesheets/basic.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery-3.1.1.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
	
	<title><%= title %></title>
</head>
</head>
<body>
<% include header %>

<div class="panel panel-default">
  <div class="panel-heading">车辆搜索</div>
  <div class="panel-body">

    <form action="/selectCar" method="POST">
      <div class="input-group col-sm-12">
        <span class="selectIN col-sm-2">VIN:</span>
        <input type="text" class="form-control" id="selectVin" name="selectVin" placeholder="Vin" aria-describedby="sizing-addon2" style="width: 20%;border-radius: 5px;">
        <span class="selectIN col-sm-offset-1 col-sm-2">发动机号:</span>
        <input type="text" class="form-control" id="selectEngineNo" name="selectEngineNo" placeholder="EngineNo" aria-describedby="sizing-addon2" style="width: 20%;border-radius: 5px;">
      </div>
      <div class="input-group col-sm-12">
        <span class="selectIN col-sm-2">车型:</span>
        <input type="text" class="form-control" id="selectModel" name="selectModel" placeholder="Model" aria-describedby="sizing-addon2" style="width: 20%;border-radius: 5px;">
        <span class="selectIN col-sm-offset-1 col-sm-2">颜色:</span>
        <input type="text" class="form-control" id="selectColor" name="selectColor" placeholder="Color" aria-describedby="sizing-addon2" style="width: 20%;border-radius: 5px;">
      </div>
      <button type="submit" class="btn col-sm-1 col-sm-offset-10 btn-primary">车辆查询</button>
    </form>
    
  </div>
</div>



<div class="panel panel-default">
  <div class="panel-heading">车辆信息

    <div id="carAction">
        <div class="btn-right">
          <form action="/delCar" method="POST" id="delCar">
            <input type="hidden" id="deleteVin" name="deleteVin">
            <button type="button" class="btn btn-danger" onclick="delCheck()">删除车辆</button>
          </form>
        </div>

        <div class="btn-right">
          <form action="/editCar" method="POST" id="editCar">
            <input type="hidden" id="editVin" name="editVin">
            <button type="button" class="btn btn-warning" onclick="editCheck()">修改信息</button>
          </form>
        </div>

        <div class="btn-right">
          <form action="/viewCar" method="POST" id="viewCar">
            <input type="hidden" id="viewVin" name="viewVin">
            <button type="button" class="btn btn-info" onclick="viewCheck()">查看详情</button>
          </form>  
        </div>

        <div class="btn-right">
          <form>
          <button type="button" class="btn btn-success"><a href="/addCar">新增车辆</a></button>
          </form>
        </div>  
      </div>
    </div>

  <div class="panel-body">

    <table id="carInfo" align="center" class="table table-hover">
      <thead>
        <tr>
            <th><input type="checkbox" onclick="swapCheck()"></th>
            <th>车辆序号</th>
            <th>VIN</th>
            <th>发动机号</th>
            <th>车型</th>
            <th>颜色</th>
            <th>地址</th>
            <th>车牌号</th>
            <th>城市名</th>
            <th>新产品年度</th>
            <th>购车日期</th>
            <th>备注</th>
        </tr>
      </thead>
      <tbody>
        <% for(var i=0; i<JSON.parse(car).length;i++){%>
          <tr id="carData">
            <td><input type="checkbox" name="carCheckBox" value="<%= JSON.parse(car)[i].vin %>"></td>
            <td><%= JSON.parse(car)[i].car_id %></td>
            <td><%= JSON.parse(car)[i].vin %></td>
            <td><%= JSON.parse(car)[i].engine_no %></td>
            <td><%= JSON.parse(car)[i].model %></td>
            <td><%= JSON.parse(car)[i].color %></td>
            <td><%= JSON.parse(car)[i].address %></td>
            <td><%= JSON.parse(car)[i].car_card %></td>
            <td><%= JSON.parse(car)[i].city_name %></td>
            <td><%= JSON.parse(car)[i].model_year %></td>
            <td><%= JSON.parse(car)[i].purchase_date %></td>
            <td><%= JSON.parse(car)[i].memo %></td>
          </tr>
        <%}%>
      </tbody>
    </table>

  </div>
</div>


<ul id="paging">
  <a id="btn0"></a>
  <input id="pageSize" type="text" size="1" maxlength="4" value="getDefaultValue()"/><a> 条 </a> <a href="#" id="pageSizeSet">设置</a> 
  <a id="count"></a> 
  <a href="#" id="btn1">首页</a>
  <a href="#" id="btn2">上一页</a>
  <a href="#" id="btn3">下一页</a>
  <a href="#" id="btn4">尾页</a> 
  <a>转到 </a>
  <input id="changePage" type="text" size="1" maxlength="4"/>
  <a>页 </a>
  <a href="#" id="btn5">跳转</a>
</ul>

<form>
  <div id="viewCarVin" name="viewCarVin"></div>
</form>


<% include footer %>
<script>

  var isCheckAll = false;  
  function swapCheck() {  
      if (isCheckAll) {  
          $("input[type='checkbox']").each(function() {  
              this.checked = false;  
          });  
          isCheckAll = false;  
      } else {  
          $("input[type='checkbox']").each(function() {  
              this.checked = true;  
          });  
          isCheckAll = true;  
      }  
  }  


  var pageSize = 10;    
  var curPage = 0;        
  var lastPage;       
  var direct = 0;       
  var len;            
  var page;           
  var begin;
  var end;

               
$(document).ready(function display(){  
    len = $("#carInfo tr").length - 1;    
    page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;
    curPage = 1;    
    displayPage(1);
    document.getElementById("btn0").innerHTML = "当前 " + curPage + "/" + page + " 页    每页 "
    document.getElementById("count").innerHTML = "数据总量 " + len + "   "  
    document.getElementById("pageSize").value = pageSize;

    $("#btn1").click(function firstPage(){    
        curPage = 1;
        direct = 0;
        displayPage();
    });
    $("#btn2").click(function frontPage(){   
        direct =- 1;
        displayPage();
    });
    $("#btn3").click(function nextPage(){   
        direct = 1;
        displayPage();
    });
    $("#btn4").click(function lastPage(){  
        curPage = page;
        direct = 0;
        displayPage();
    });
    $("#btn5").click(function changePage(){    
        curPage = document.getElementById("changePage").value * 1;
        if (!/^[1-9]\d*$/.test(curPage)) {
            alert("请输入正整数");
            return ;
        }
        if (curPage > page) {
            alert("超出数据页面");
            return ;
        }
        direct = 0;
        displayPage();
    });

   
    $("#pageSizeSet").click(function setPageSize(){    // 设置每页显示多少条记录
        pageSize = document.getElementById("pageSize").value;    //每页显示的记录条数
        if (!/^[1-9]\d*$/.test(pageSize)) {
            alert("请输入正整数");
            return ;
        }
        len = $("#carInfo tr").length - 1;
        page = len % pageSize == 0 ? len / pageSize : Math.floor(len / pageSize) + 1;//根据记录条数，计算页数
        curPage = 1;       
        direct = 0;       
        displayPage();
    });
});

function displayPage(){
    if(curPage <= 1 && direct == -1){
        direct = 0;
        alert("已经是第一页了");
        return;
    } else if (curPage >= page && direct == 1) {
        direct = 0;
        alert("已经是最后一页了");
        return ;
    }

    lastPage = curPage;

    if (len > pageSize) {
        curPage = ((curPage + direct + len) % len);
    } else {
        curPage = 1;
    }

    if(curPage == 0){
      curPage = page;
    }

   
   document.getElementById("btn0").innerHTML="当前 " + curPage + "/" + page + " 页    每页 ";       

    begin = (curPage - 1) * pageSize + 1;
    end = begin + 1 * pageSize - 1;  

   
    if(end > len ){
      end = len;
    }
    $("#carInfo tr").hide();    
    $("#carInfo tr").each(function(i){    
        if((i >= begin && i <= end) || i == 0 )
            $(this).show();
    });

 }  

 function delCheck(){
  var carCheckBox = document.getElementsByName("carCheckBox");
  var s = "";
  var checkCount = 0;
  for(var i = 0;i < carCheckBox.length;i++){
    if(carCheckBox[i].checked){
      s += carCheckBox[i].value
      checkCount++;
    }
  }
  if(checkCount == 1){
    document.getElementById("deleteVin").value = s
    document.getElementById("delCar").submit();
  }else if(checkCount == 0){
    alert("您还没有选择车辆")
  }else{
    alert("请只选择一个车辆")
  }
 }

 function editCheck(){
  var carCheckBox = document.getElementsByName("carCheckBox");
  var s = "";
  var checkCount = 0;
  for(var i = 0;i < carCheckBox.length;i++){
    if(carCheckBox[i].checked){
      s += carCheckBox[i].value
      checkCount++;
    }
  }
  if(checkCount == 1){
    document.getElementById("editVin").value = s
    document.getElementById("editCar").submit();
  }else if(checkCount == 0){
    alert("您还没有选择车辆")
  }else{
    alert("请只选择一个车辆")
  }
 }

  function viewCheck(){
  var carCheckBox = document.getElementsByName("carCheckBox");
  var s = "";
  var checkCount = 0;
  for(var i = 0;i < carCheckBox.length;i++){
    if(carCheckBox[i].checked){
      s += carCheckBox[i].value
      checkCount++;
    }
  }
  if(checkCount == 1){
    document.getElementById("viewVin").value = s
    document.getElementById("viewCar").submit();
  }else if(checkCount == 0){
    alert("您还没有选择车辆")
  }else{
    alert("请只选择一个车辆")
  }
 }

 // function editCheck(){
 //  var carCheckBox = document.getElementsByName("carCheckBox");
 //  var s = "";
 //  var checkCount = 0;
 //  for(var i = 0;i < carCheckBox.length;i++){
 //    if(carCheckBox[i].checked){
 //      s += carCheckBox[i].value
 //      checkCount++;
 //    }
 //  }
 //  if(checkCount == 1){
 //    document.getElementById("vin2").value = s
 //   // $.ajax({
 //   //        url:"/editCar",
 //   //        type:"post",
 //   //        data:{id:s},
 //   //        dataType:"json",
 //   //        success:function (data) {
 //   //          if(data){
 //   //            alert("传参成功!")
 //   //          }else {
 //   //            alert("传参失败!")
 //   //          }
 //   //        },
 //   //        error:function () {
 //   //          alert("操作错误!")
 //   //        }
 //   //      })

 //    window.open("/editCar","_self");
 //  }else{
 //    alert("请您选择一个车辆")
 //  }
 // }

</script>
</body>
</html>